<!DOCTYPE html>
<html ng-app><!--THe ng-app tells the  browser to look for angular stuff-->
<head lang="en">
    <meta charset="UTF-8">
    <title>First ng website: basic interactivity</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="js/app.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <!--<script src="https://code.angularjs.org/1.2.28/angular-route.min.js"></script>-->
    <script src="https://cdn.firebase.com/js/client/2.2.9/firebase.js"></script>

    <!--Testing-->
    <script src="//cdn.ckeditor.com/4.5.3/standard/ckeditor.js"></script>

</head>
<body>
    <div class="container">
        <h1>Portfolio splash page</h1>

        <p>Below I built my first angular app.  It's stupid simple, but hopefully it makes sense.</p>
        <p>The follow are apps I built starting on 8 September 2015:</p>
        <ul>
            <li>
                <a href="weather-app/index.html">Get Weather:</a> accesses weather from an API using Angular services.
                <ul>
                    <li>Needs visual improvement</li>
                    <li>Angular coding done</li>
                    <ul>
                        <li>√ Find weather api to use</li>
                        <li>√ Create ng-view field</li>
                        <li>√Create routing service that gets info from the API for up to 14 days</li>
                        <li>√Create html view to inject into ng-view field</li>
                        <li>√Create functions to be used by each button</li>
                            <ul>
                                <li>Chose to reuse same code instead.  Made it cleaner</li>
                            </ul>

                    </ul>
                </ul>
            </li>
            <li>
                <a href="blog/index.html"> Blog app:</a> displays a blog of entries stored, allows people with email addresses to comment,
                and allows the writer to input a password and have an entry be saved.
            </li>
            <li>
                <a href="customerStore/index.html"> Customer store:</a> this is a front-facing "store." In reality it is a list of purchases made.
                It is not editable by a customer.  I created this with the intent to use it as an interaction
                module for one of my businesses.
            </li>
        </ul>

        <hr>
        <h1>Welcome to my first angular application</h1>
        <p>Over time I'll build my angular skills, but this is just to start.</p>
        <p>Please enter your name below</p>
        <input type="text" ng-model="name" placeholder="Put your name here">

        <p>{{ name }}, welcome to my page!</p>
        <br>
        <hr>
        <h1>Let's try something else.</h1>
        <p>Please enter a username and a password:</p>
        <input type="text" ng-model="username" placeholder="Enter userneame">
            <br>
        <input type="password" ng-model="pword" placeholder="Enter userneame">
            <br>
        <p>Your username is {{ username }}</p>
        <p>Your password is {{ pword }}</p>
        <p>Don't worry, this isn't shown to anyone else ;)</p>
        <p>Oh, wait.  Not true.  Well, sort of not true.  What up shoulder surfer?</p>

    </div>

</body>
</html>