<!DOCTYPE html>
<html ng-app="portfolioApp"><!--THe ng-app tells the  browser to look for angular stuff-->
<head lang="en">
    <meta charset="UTF-8">
    <title>Portfolio</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="js/app.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <!--<script src="https://code.angularjs.org/1.2.28/angular-route.min.js"></script>-->
    <script src="https://cdn.firebase.com/js/client/2.2.9/firebase.js"></script>

    <!--Testing-->
    <script src="//cdn.ckeditor.com/4.5.3/standard/ckeditor.js"></script>


</head>
<body class="main" ng-controller="thisController">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand active" href="/index.html">Portfolio</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="weather-app/index.html">Weather</a></li>
                    <li><a href="blog/index.html">Blog</a></li>
                    <!--<li><a href="customerStore/index.html">Customer store</a></li>-->
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div class="container">
        <div class="jumbotron">
            <h1>Portfolio splash page</h1>


            <p>The follow are apps I built starting on 8 September 2015:</p>
            <ul>
                <li>
                    <a href="weather-app/index.html">Get Weather:</a> accesses weather from an API using Angular services.
                    <ul>
                        <li>Needs visual improvement</li>
                        <li>Angular coding done</li>
                        <ul>
                            <li>√ Find weather api to use</li>
                            <li>√ Create ng-view field</li>
                            <li>√Create routing service that gets info from the API for up to 14 days</li>
                            <li>√Create html view to inject into ng-view field</li>
                            <li>√Create functions to be used by each button</li>
                                <ul>
                                    <li>Chose to reuse same code instead.  Made it cleaner</li>
                                </ul>

                        </ul>
                    </ul>
                </li>
                <li>
                    <a href="blog/index.html"> Blog app:</a> displays a blog of entries stored, allows people with email addresses to comment,
                    and allows the writer to input a password and have an entry be saved.
                    <ul>
                        <li>
                            Currently under constructions, but includes
                            <ul>
                                <li>
                                    √use of custom directive 'textAngular' to create
                                    the editable text area
                                </li>
                                <li>
                                    √use of custom filter to allow string from DB to interprested as html in blog feedback
                                </li>
                            </ul>
                        </li>
                        <li>
                            When finished, it will include
                            <ul>
                                <li>
                                    Password authentication for author
                                </li>
                                <li>
                                    comments section for each blog post
                                </li>
                                <li>
                                    email authentication for commenters
                                </li>
                                <li>
                                    enhanced visual appeal--more than the text will be formatted
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <!--<li>
                    <a href="customerStore/index.html"> Customer store:</a> this is a front-facing "store." In reality it is a list of purchases made.
                    It is not editable by a customer.  I created this with the intent to use it as an interaction
                    module for one of my businesses.
                </li>-->
            </ul>
        </div>
        <div class="jumbotron">
            <hr>
            <h1>Welcome to my first angular application</h1>
            <br/>
            <p>Please enter your name below</p>
            <input type="text" ng-model="name" placeholder="Put your name here">

            <p>{{ name }}, welcome to my page!</p>
            <br>

        </div>

        <div class="jumbotron">
            <h1>Let's try something else.</h1>
            <p>Please enter a username and a password:</p>
            <input type="text" ng-model="username" placeholder="Enter userneame">
                <br>
            <input type="password" ng-model="pword" placeholder="Enter password">
                <br>
            <p>Your username is {{ username }}</p>
            <p>Your password is {{ pword }}</p>
            <p>Don't worry, this isn't shown to anyone else ;)</p>
            <p>Oh, wait.  Not true.  Well, sort of not true.  What up shoulder surfer?</p>

            <br>
        </div>
        <div class="jumbotron">
            <h1>This is obviously pathetic.  Check out the others.</h1>
        </div>
    </div>

</body>
</html>