<!DOCTYPE html>
<html ng-app><!--THe ng-app tells the  browser to look for angular stuff-->
<head lang="en">
    <meta charset="UTF-8">
    <title>First ng website: basic interactivity</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular.min.js"></script>
</head>
<body>
    <div class="container">
        <h1>Welcome to my first angular application</h1>
        <p>Over time I'll build my angular skills, but this is just to start.</p>
        <p>Please enter your name below</p>
        <input type="text" ng-model="name" placeholder="Put your name here">

        <p>{{ name }}, welcome to my page!</p>
        <br>
        <hr>
        <h1>Let's try something else.</h1>
        <p>Please enter a username and a password:</p>
        <input type="text" ng-model="username" placeholder="Enter userneame">
            <br>
        <input type="password" ng-model="pword" placeholder="Enter userneame">
            <br>
        <p>Your username is {{ username }}</p>
        <p>Your password is {{ pword }}</p>
        <p>Don't worry, this isn't shown to anyone else ;)</p>
        <p>asdaf</p>
    </div>

</body>
</html>