<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script src="https://code.angularjs.org/1.4.5/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/styles.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="js/app.js"></script>
    <script src="https://code.angularjs.org/1.2.28/angular-route.min.js"></script>

</head>
<body class="container" ng-app="weather-app" ng-controller="mainController">
    <div class="header">
        <h1>{{ title }}</h1>
    </div>
    <div class="main" >
        <p>What city do you live in?</p>
        <input type="text" ng-model="city" placeholder="Provo">
        <br/>
        <br/>
        <p>What country do you live in?</p>
        <input type="text" ng-model="country" placeholder="USA">
        <br/>
        <br/>
        <p>How many days of weather would you like?</p>

        <button class="btn" ng-click="getWeather(city, country, 1)">One day</button>

        <button class="btn" ng-click="getWeather(city, country, 5)">Five day</button>
        <button class="btn" ng-click="getWeather(city, country, 10)">Ten day</button>
        <button class="btn" ng-click="getWeather(city, country, 14)">Fortnight</button>
        <hr>
        <ng_view></ng_view>



    </div>
    <!--
    TODO:
        √Find weather api to use
        √Create ng-view field
        √Create routing service that gets info from the API for up to 14 days
        √Create html view to inject into ng-view field
        √Create functions to be used by each button
            √One day--should display one day's worth of info
                Should this be more in-depth than the other ones?
            √Five-day through Fortnight
                √use ng-repeat in code to pull up slightly different view from what the one-day is

    -->

    <!--Controllers-->
    <script src="js/controllers/mainController.js"></script>


    <!--Services-->
    <script src="js/services/getWeather.js"></script>

</body>
</html>