<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Basic blog app</title>
    <script src="https://code.angularjs.org/1.4.5/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="js/app.js"></script>
    <script src="https://code.angularjs.org/1.2.28/angular-route.min.js"></script>
</head>
<body ng-app="blogApp">
<div class="container">
    <div class="header">
        <h1>Welcome to my basic blog app</h1>
    </div>
    <div class="main" ng-controller="blogController">
        <p>Press button if you would like to create an entry</p>
        <button class="" ng-click="createEntry()">Create entry</button>
        <!--When clicked, insert area to write an entry-->
        <ng-view></ng-view>

        <div class="blog-posts" ng-repeat="entry in entries"></div>
        <!--
        TODO:
            The createEntry() should ask for a password first.  Without the password, we CANNOT
                implement the createEntry() view, and the clicker of the button should not
                be able to write an entry
            Create an ng-view object to display the createEntry html view
                this view should include a text area and a submit button
            Create a div for entries with an ng-repeat for all entries.
                Entries should be sorted by reverse chronological order.
                Each entry should have a lit of comments (also in reverse chron order)
                Each entry (NOT EACH COMMENT) should have the ability to respond.
                This will likely be handled by a new ng-view object--look into how these work
                    to ensure this is possible--that injects a response segment.
                The response segment should include text fields for
                    Author name
                    Author email (with promise not to use for spam)
                    Response
                    Submit comment button
                When exiting email text area, a check should be run determinging whether email is valid
                    Submit button only enables when email is valid and there is text in all other fields
                onSubmit, entry should be stored in DB as object connected to the specific entry under which it was made


        -->
    </div>
</div>




<!--Controllers-->
<script src="js/controllers/blogController.js"></script>
<!--Directives-->
<!--Services-->

</body>
</html>